---
layout: terminal-page
title: "Blog Posts"
permalink: /year-archive/
term_path: blog
term_cmd: "git log --all"
redirect_from:
  - /wordpress/blog-posts/
  - /blog/
---
{% include base_path %}

<div class="term-log">
  {% for post in site.posts %}
    <a class="term-log__row" href="{{ base_path }}{{ post.url }}">
      <span class="term-log__hash" aria-hidden="true">{{ post.date | date: "%s" | slice: 3, 7 }}</span>
      <span class="term-log__date">{{ post.date | date: "%Y-%m-%d" }}</span>
      <span class="term-log__msg">{{ post.title }}</span>
    </a>
  {% endfor %}
  {% if site.posts.size == 0 %}
    <p class="term-index__excerpt">No commits yet.</p>
  {% endif %}
</div>
